main {
    background-color: #FFF;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    padding: 2rem;
}

label {
    color: #5E7A7D;
    line-height: 1.5rem;
}

.input-box {
    background-color: #F3F9FA;
    border-radius: 5px;
    padding: .375rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .375rem;
}

.input-box input {
    border: 0;
    background-color: transparent;
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
    outline: none;
    color: #00474B;
}

.input-box input::placeholder {
    color: #9EBBBD;
}

.bill,
.tip-percentage,
.people {
    margin-bottom: 2rem;
}

.tip-percentage div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

#custom {
    width: 100%;
    background-color: #F3F9FA;
    color: #00474B;
}

#custom::placeholder {
    color: #547878;
}

.tip-percentage input {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    padding: .375rem;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.tip-percentage input[type=button] {
    background-color: #00474B;
    color: #FFF;    
}

.results {
    background-color: #00474B;
    padding: 1.5rem;
    color: #FFF;
    border-radius: 15px;
}

.tip-amount,
.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.tip-amount p:nth-of-type(1),
.total p:nth-of-type(1) {
    line-height: 1.5rem;
}

.results span {
    font-size: .75rem;
    color: #7F9D9F;
}

.tip-amount p:nth-of-type(2),
.total p:nth-of-type(2) {
    color: #26C2AE;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -1px;
}

.results button {
    width: 100%;
    padding-block: .5rem;
    border: 0;
    background-color: #26C2AE;
    border-radius: 5px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #00474B;
    text-transform: uppercase;
}

.input-box:has(input:hover),
.input-box:has(input:focus),
#custom:hover,
#custom:focus {
    outline: 2px solid #26C2AE;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
    margin: 0;
}

input[type=button]:hover,
button:hover {
    background-color: #9FE8DF;
    cursor: pointer;
}

@media(min-width: 958px) {
    main {
        max-width: 57.5rem;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        border-radius: 25px;
    }

    .tip-percentage div {
        grid-template-columns: repeat(3, 1fr);
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;
    }
}